<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
    <title>留言管理</title>
</head>
<body>
<!--导航-->
<nav th:replace="admin/_fragments :: menu(6)"
     class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">管理后台</h2>
            <a href="#" class="active m-item item m-mobile-hide"><i
                    class="mini home icon"></i>博客</a>
            <a href="#" class=" m-item item m-mobile-hide"><i class="mini idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini tags icon"></i>标签</a>
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown  item">
                    <div class="text">
                        <img class="ui avatar image" src="https://unsplash.it/100/100?image=1005">
                        计春磊
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--中间内容-->
<div class="m-container-huge m-padded-tb-big">
    <div class="ui container">
        <div class="ui secondary segment form">
            <input type="hidden" name="page">
            <div class="inline fields">
                <div class="field">
                    <input type="text" name="messageContent" placeholder="留言内容">
                </div>
                <div class="field">
                    <div class="ui labeled action input">
                        <div class="ui type selection dropdown">
                            <input type="hidden" name="userRole">
                            <i class="dropdown icon"></i>
                            <div class="default text">留言等级</div>
                            <div class="menu">
                                <div th:each="messageLevelItem : ${messageLevelMap}" class="item" data-value="1"
                                     th:data-value="${messageLevelItem.key}" th:text="${messageLevelItem.value}">留言
                                </div>
                            </div>
                        </div>
                        <button id="clear-btn" class="ui compact button">clear</button>
                    </div>
                </div>
                <div class="field">
                    <button type="button" id="search-btn" class="ui mini teal basic button"><i
                            class="search icon"></i>搜索
                    </button>
                </div>
            </div>
        </div>
        <div id="table-container">
            <table th:fragment="messageList" class="ui compact teal striped celled table">
                <thead>
                <tr class="center aligned">
                    <th>主键</th>
                    <th>父留言id</th>
                    <th>留言者昵称</th>
                    <th>留言者邮箱</th>
                    <th>留言等级</th>
                    <th>留言时间</th>
                    <th>留言内容</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr class="center aligned" th:each="message : ${page.list}">
                    <td th:text="${message.messageId}">1</td>
                    <td th:text="${message.parentMessageId}">张三</td>
                    <td th:text="${message.messageNickname}">宝宝</td>
                    <td th:text="${message.messageEmail}">邮箱</td>
                    <td th:text="${messageLevelMap['__${message.messageLevel}__']}">留言</td>
                    <td th:text="${#dates.format(message.createTime,'yyyy-MM-dd HH:mm:ss')}">2017-10-02 09:45</td>
                    <td class="right aligned" th:text="${message.messageContent}">Hello</td>
                    <td>
                        <a href="#" th:href="@{/admin/messages/{id}/delete(id=${message.messageId})}"
                           onclick="javascript:return del();"
                           class="ui mini red basic button">删除</a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="8">
                        <!--分页组件-->
                        <div class="ui aligned segment">
                            <div class="ui pagination stackable menu">
                                <a class="item" th:classappend="${page.isFirstPage} ? 'active teal'"
                                   th:onclick="|javascript:pageQuery('${page.navigateFirstPage}')|">
                                    首页
                                </a>
                                <a class="item" th:unless="${page.isFirstPage}"
                                   th:onclick="|javascript:pageQuery('${page.prePage}')|">
                                    上一页
                                </a>
                                <a class="item">
                                    第<h3 class="ui orange header m-inline-block m-text-thin"
                                         th:text="${page.getPageNum()}">8</h3>页
                                </a>
                                <a class="item" th:unless="${page.isLastPage}"
                                   th:onclick="|javascript:pageQuery('${page.nextPage}')|">
                                    下一页
                                </a>
                                <a class="item" th:classappend="${page.isLastPage} ? 'active teal'"
                                   th:onclick="|javascript:pageQuery('${page.navigateLastPage}')|">
                                    尾页
                                </a>
                                <a class="item">
                                    共<h3 class="ui red header m-inline-block m-text-thin"
                                         th:text="${page.pages}">8</h3>页
                                </a>
                                <a class="item">
                                    共<h3 class="ui red header m-inline-block m-text-thin"
                                         th:text="${page.total}">8</h3>条
                                </a>
                                <a class="item">
                                    <div class="ui right labeled input">
                                        <div class="ui basic label">Go</div>
                                        <input type="text" name="skipPageNum" placeholder="输入页码..."
                                               style="width: 130px;">
                                        <div class="ui basic label">页</div>
                                        <button class="ui icon button" onclick="skipQuery()"><i
                                                class="right arrow icon"></i></button>
                                    </div>
                                </a>
                            </div>
                            <input type="hidden" id="first" th:value="${page.getPageNum()}"/>
                            <input type="hidden" id="last" th:value="${page.pages}"/>
                        </div>
                    </th>
                </tr>
                </tfoot>
            </table>

            <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
                <i class="close icon"></i>
                <div class="header">提示：</div>
                <p th:text="${message}">恭喜，操作成功！</p>
            </div>

        </div>
    </div>
</div>

<!--底部footer-->
<footer th:replace="admin/_fragments :: footer"
        class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../../static/images/wechat.jpg" class="ui rounded image" alt=""
                             style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">博客1（story-1）</a>
                    <a href="#" class="item">博客2（story-2）</a>
                    <a href="#" class="item">博客3（story-3）</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email：1739575190@qq.com</a>
                    <a href="#" class="item">QQ：1739575190</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">Blog</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">贤子磊的个人博客</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2019-2020 xianzilei Designed
            by xianzilei.</p>
    </div>
</footer>
<!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<script>
    <!--移动端点击图标显示导航-->
    $('.menu.toggle').click(
        function () {
            $('.m-item').toggleClass('m-mobile-hide');
        }
    );

    //显示注销
    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

    //消息提示关闭初始化
    $('.message .close')
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade');
        });

    //清除查询条件
    $('#clear-btn')
        .on('click', function () {
            $('.ui.type.dropdown')
                .dropdown('clear')
            ;
        });

    //清除查询条件
    $('#clear-btn2')
        .on('click', function () {
            $('.ui.tag.dropdown')
                .dropdown('clear')
            ;
        });

    //分页查询
    function pageQuery(pageNum) {
        loaddata(pageNum);
    };

    //跳转页面查询
    function skipQuery() {
        var skipPageNum = $("[name='skipPageNum']").val();
        loaddata(skipPageNum);
    };

    //点击查询按钮查询博客信息
    $("#search-btn").click(function () {
        loaddata(1);
    });

    //查询数据
    function loaddata(pageNum) {
        $("#table-container").load(/*[[@{/admin/messages/search}]]*/"/admin/users/search", {
            username: $("[name='username']").val(),
            userRole: $("[name='userRole']").val(),
            userStatus: $("[name='userStatus']").val(),
            pageNum: pageNum
        });
    };

    //删除前的确认
    function del() {
        var msg = "您确定要删除吗？";
        if (confirm(msg) == true) {
            return true;
        } else {
            return false;
        }
    };
</script>
</body>
</html>