<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <title>错误页面</title>
</head>
<body>
<!--导航（引用_fragments中的menu）-->
<nav th:replace="_fragments :: menu(0)"/>
<br>
<br>
<br>
<br>
<!--中间内容-->
<div class="m-container-small m-padded-tb-massive">
    <div class="ui error message m-padded-tb-huge">
        <div class="ui contianer">
            <h2>404</h2>
            <p>对不起，你访问的资源不存在</p>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<!--底部footer（引用_fragments中的footer）-->
<footer th:replace="_fragments :: footer"/>
</body>
</html>