<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>留言</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>

<!--导航-->
<nav th:replace="_fragments :: menu(5)"
     class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">Blog</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini home icon"></i>首页</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini tags icon"></i>标签</a>
            <a href="#" class="m-item item m-mobile-hide"><i
                    class="mini clone icon"></i>归档</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini info icon"></i>关于我</a>
            <div class="right m-item item m-mobile-hide">
                <div class="ui icon inverted transparent input m-margin-tb-tiny">
                    <input type="text" placeholder="搜索....">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--中间内容-->
<div class="m-container m-padded-tb-big" style="min-height: 85%">
    <div class="ui container">
        <!--留言区域-->
        <div class="ui bottom attached segment">
            <h2 class="ui dividing teal header">留言</h2>
            <div id="message-form" class="ui teal form">
                <!--留言板-->
                <input type='hidden' name='sessionNickname' th:unless="${session.user==null}"
                       th:value="${session.user.nickname}">
                <div class="field">
                    <textarea name="content" style="height:80px"
                              placeholder="想对站长说点什么..."></textarea>
                </div>
                <div class="fields">
                    <div class="field m-mobile-wide m-margin-bottom-small">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="nickname" placeholder="昵称(必填)"
                                   th:value="${session.user}!=null ? ${session.user.nickname}">
                        </div>
                    </div>
                    <div class="field m-mobile-wide m-margin-bottom-small">
                        <div class="ui left icon input">
                            <i class="mail icon"></i>
                            <input type="text" name="email" placeholder="邮箱(必填)"
                                   th:value="${session.user}!=null ? ${session.user.email}">
                        </div>
                    </div>
                    <div class="field m-margin-bottom-small m-mobile-wide">
                        <button id="messagepost-btn" type="button" class="ui teal button m-mobile-wide"><i
                                class="edit icon"></i>提交
                        </button>
                    </div>
                </div>
            </div>
            <!--历史留言列表-->
            <div id="message-container" class="ui teal segment">
                <div th:fragment="messageList">
                    <div class="ui threaded comments" style="max-width: 100%;">
                        <div class="comment" th:each="message : ${page.list}">
                            <a class="avatar">
                                <img src="https://unsplash.it/100/100?image=1005"
                                     th:src="@{/images/avatar.png}">
                            </a>
                            <div class="content">
                                <a class="author">
                                    <span th:text="${message.messageNickname}">Matt</span>
                                    <div class="ui mini basic teal left pointing label m-padded-mini"
                                         th:if="${message.messageUserId}==1">站长
                                    </div>
                                </a>
                                <div class="metadata">
                                        <span class="date"
                                              th:text="${#dates.format(message.createTime,'yyyy-MM-dd HH:mm')}">Today at
                                            5:42PM
                                        </span>
                                </div>
                                <div class="text" th:text="${message.messageContent}">
                                    How artistic!
                                </div>
                                <div class="actions">
                                    <a class="reply" data-commentid="1" data-commentnickname="Matt"
                                       th:attr="data-messageid=${message.messageId},
                                       data-messagenickname=${message.messageNickname},
                                       data-replieduserid=${message.messageUserId},
                                        data-sessionuserid=${session.user}!=null ? ${session.user.nickname},
                                        data-sessionuseremail=${session.user}!=null ? ${session.user.email}"
                                       onclick="showReplyForm(this)">回复</a>
                                    <a class="viewReply" th:unless="${message.replyNums}==0"
                                       th:attr="data-messageid=${message.messageId},data-messagereplynums=${message.replyNums}"
                                       onclick="viewReply(this)"
                                       th:text="|查看回复(${message.replyNums})|">查看回复(8)</a>
                                </div>
                            </div>
                            <div id="replyList" style="display: none" class="comments"
                                 th:if="${message.replyNums}>0">
                                <div class="comment" th:each="reply : ${message.replyList}">
                                    <a class="avatar">
                                        <img src="https://unsplash.it/100/100?image=1005"
                                             th:src="@{/images/avatar.png}">
                                    </a>
                                    <div class="content">
                                        <a class="author">
                                            <span th:text="${reply.messageNickname}">小红</span>
                                            <div class="ui mini basic teal left pointing label m-padded-mini"
                                                 th:if="${reply.messageUserId}==1">站长
                                            </div>
                                            &nbsp;<span th:text="|@ ${reply.repliedUserNickname}|"
                                                        class="m-teal">@ 小白</span>
                                        </a>
                                        <div class="metadata">
                                        <span class="date"
                                              th:text="${#dates.format(reply.createTime,'yyyy-MM-dd HH:mm')}">Today at
                                            5:42PM</span>
                                        </div>
                                        <div class="text" th:text="${reply.messageContent}">
                                            How artistic!
                                        </div>
                                        <div class="actions">
                                            <a class="reply" data-commentid="1"
                                               data-commentnickname="Matt"
                                               th:attr="data-messageid=${message.messageId},
                                               data-messagenickname=${reply.messageNickname},
                                               data-replieduserid=${reply.messageUserId},
                                        data-sessionuserid=${session.user}!=null ? ${session.user.nickname},
                                        data-sessionuseremail=${session.user}!=null ? ${session.user.email}"
                                               onclick="showReplyForm(this)">回复</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--分页组件-->
                    <div class="ui center aligned segment">
                        <div class="ui pagination menu">
                            <a class="item" th:classappend="${page.isFirstPage} ? 'active teal'"
                               th:href="@{/toMessagePage(pageNum=${page.navigateFirstPage})}">
                                首页
                            </a>
                            <a class="item" th:unless="${page.isFirstPage}"
                               th:href="@{/toMessagePage(pageNum=${page.prePage})}">
                                上一页
                            </a>
                            <a class="item">
                                第<h3 class="ui orange header m-inline-block m-text-thin"
                                     th:text="${page.getPageNum()}">8</h3>页
                            </a>
                            <a class="item" th:unless="${page.isLastPage}"
                               th:href="@{/toMessagePage(pageNum=${page.nextPage})}">
                                下一页
                            </a>
                            <a class="item" th:classappend="${page.isLastPage} ? 'active teal'"
                               th:href="@{/toMessagePage(pageNum=${page.navigateLastPage})}">
                                尾页
                            </a>
                            <a class="item">
                                共<h3 class="ui red header m-inline-block m-text-thin"
                                     th:text="${page.pages}">8</h3>页
                            </a>
                            <a class="item">
                                共<h3 class="ui red header m-inline-block m-text-thin"
                                     th:text="${page.total}">8</h3>条
                            </a>
                            <form name="page" class="right item" action="#" th:action="@{/toMessagePage}"
                                  method="get" target="_blank">
                                <div class="ui right labeled input">
                                    <div class="ui basic label">Go</div>
                                    <input type="text" name="pageNum" placeholder="页码..."
                                           style="width: 80px;">
                                    <div class="ui basic label">页</div>
                                    <button class="ui icon button"><i onclick="document.forms['page'].submit()"
                                                                      class="right arrow icon"></i></button>
                                </div>
                            </form>
                        </div>
                        <input type="hidden" id="first" th:value="${page.getPageNum()}"/>
                        <input type="hidden" id="last" th:value="${page.pages}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--底部footer-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
</footer>
<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<script>
    <!--移动端点击图标显示导航-->
    $('.menu.toggle').click(
        function () {
            $('.m-item').toggleClass('m-mobile-hide');
        }
    );

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

    //留言表单验证
    $('.ui.form').form({
        fields: {
            content: {
                identifier: 'content',
                rules: [{
                    type: 'empty',
                    prompt: '请输入留言内容'
                }
                ]
            },
            nickname: {
                identifier: 'nickname',
                rules: [{
                    type: 'empty',
                    prompt: '请输入你的大名'
                }]
            },
            email: {
                identifier: 'email',
                rules: [{
                    type: 'email',
                    prompt: '请填写正确的邮箱地址'
                }]
            }
        }
    });

    //新增留言
    $('#messagepost-btn').click(function () {
        $('#reply-form').remove();
        $('.reply').text("回复");
        var boo = $('.ui.form').form('validate form');
        if (boo) {
            console.log('校验成功');
            addMessage();
        } else {
            console.log('校验失败');
        }

    });

    //留言提交
    function addMessage() {
        $.ajax({
            url: "/messages",    //请求的url地址
            // dataType: "json",   //返回格式为json
            async: true,//请求是否异步，默认为异步，这也是ajax重要特性
            data: {
                "nickname": $("[name='nickname']").val(),
                "email": $("[name='email']").val(),
                "content": $("[name='content']").val()
            },    //参数值
            type: "post",   //请求方式
            success: function () {
                clearContent();
                //请求成功时处理
                $("#message-container").load(/*[[@{/getMessages/}]]*/"/getMessages");
                $(window).scrollTo($('#message-container'), 500);
            }
        });
    }

    //清除留言框信息
    function clearContent() {
        var nickname= $("[name='sessionNickname']").val()
        if (!nickname) {
            $("[name='nickname']").val('');
            $("[name='email']").val('');
        }
        $("[name='content']").val('');
        $("[name='content']").attr("placeholder", "想对站长说点什么...");
    }

    //展示回复框
    function showReplyForm(obj) {
        if ($(obj).text() == '回复') {
            var messageId = $(obj).data('messageid');
            var messageNickname = $(obj).data('messagenickname');
            var repliedUserId = $(obj).data('replieduserid');
            var sessionUserId = $(obj).data('sessionuserid');
            if (!sessionUserId) {
                sessionUserId = '';
            }
            var sessionUserEmail = $(obj).data('sessionuseremail');
            if (!sessionUserEmail) {
                sessionUserEmail = '';
            }
            //关闭其余的回复框
            $('#reply-form').remove();
            //恢复其余的回复标签
            $('.reply').text("回复");
            $(obj).parent().append(
                "<div id='reply-form' class='ui teal form' style='max-width: 100%;'>" +
                "<input type='hidden' name='parentMessageId' value='" + messageId + "'>" +
                "<input type='hidden' name='repliedUserId' value='" + repliedUserId + "'>" +
                "<input type='hidden' name='repliedUserNickname' value='" + messageNickname + "'>" +
                "<div id='replyContent' class='field'>" +
                "<textarea style='width:700px; height:50px;max-width: 100%;' name='replyContent' " +
                "placeholder='想对作者说点什么...' ></textarea>" +
                "</div>" +
                "<div class='fields'>" +
                "<div id='replyUserNickname' class='field m-mobile-wide m-margin-bottom-small'>" +
                "<div class='ui left icon input'>" +
                "<i class='user icon'></i>" +
                "<input type='text' name='replyUserNickname' placeholder='昵称(必填)'" +
                "value='" + sessionUserId + "' >" +
                "</div>" +
                "</div>" +
                "<div id='replyUserEmail' class='field m-mobile-wide m-margin-bottom-small'>" +
                "<div class='ui left icon input'><i class='mail icon'></i>" +
                "<input type='text' name='replyUserEmail' placeholder='邮箱(必填)'" +
                "value='" + sessionUserEmail + "' >" +
                "</div>" +
                "</div>" +
                "<div class='field  m-margin-bottom-small m-mobile-wide'>" +
                "<div id='replypost-btn' type='button' onclick='addReply()' class='ui teal button m-mobile-wide'>" +
                "<i class='edit icon'></i>提交 " +
                "</input>" +
                "</div>" +
                "</div>" +
                "</div>");
            $("[name='replyContent']").attr("placeholder", "@" + messageNickname).focus();
            $(obj).text("取消回复")
        } else {
            //显示留言框
            $('#reply-form').remove();
            $(obj).text("回复")
        }
    }

    //查看回复
    function viewReply(obj) {
        var replyNums = $(obj).data('messagereplynums');
        var replyText = '查看回复(' + replyNums + ')';
        if ($(obj).text() == replyText) {
            $(obj).parent().parent().nextAll('#replyList').show();//显示
            $(obj).text('收起回复');
        } else {
            //关闭其余的回复框
            $('#reply-form').remove();
            //恢复其余的回复标签
            $('.reply').text("回复");
            $(obj).parent().parent().nextAll('#replyList').hide();//隐藏
            $(obj).text(replyText);
        }
    }

    //新增回复
    function addReply() {
        var boo = true;
        if (!$("[name='replyContent']").val()) {
            document.getElementById("replyContent").setAttribute("class", "field error");
            boo = false;
        }
        if (!$("[name='replyUserNickname']").val()) {
            document.getElementById("replyUserNickname").setAttribute("class", "field m-mobile-wide m-margin-bottom-small error");
            boo = false;
        }
        if (!$("[name='replyUserEmail']").val()) {
            document.getElementById("replyUserEmail").setAttribute("class", "field m-mobile-wide m-margin-bottom-small error");
            boo = false;
        }
        if (boo) {
            console.log('校验成功');
            $.ajax({
                url: "/addMessageReply",    //请求的url地址
                async: true,//请求是否异步，默认为异步，这也是ajax重要特性
                data: {
                    "messageId": $("[name='parentMessageId']").val(),
                    "email": $("[name='replyUserEmail']").val(),
                    "content": $("[name='replyContent']").val(),
                    "nickname": $("[name='replyUserNickname']").val(),
                    "repliedUserId": $("[name='repliedUserId']").val(),
                    "repliedUserNickname": $("[name='repliedUserNickname']").val()
                },    //参数值
                type: "post",   //请求方式
                success: function () {
                    //请求成功时处理
                    $("#message-container").load(/*[[@{/getMessages/}]]*/"/getMessages");
                    clearContent();
                    $(window).scrollTo($('#message-container'), 500);
                }
            });
        } else {
            console.log('校验失败啦');
            return false;
        }
    }
</script>
</body>
</html>