<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>搜索结果</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>

<!--导航-->
<nav th:replace="_fragments :: menu(1)"
     class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">Blog</h2>
            <a href="#" class=" m-item item m-mobile-hide"><i class="mini home icon"></i>首页</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini idea icon"></i>分类</a>
            <a href="#" class="active m-item item m-mobile-hide"><i
                    class="mini tags icon"></i>标签</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini clone icon"></i>归档</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini info icon"></i>关于我</a>
            <div class="right m-item item m-mobile-hide">
                <div class="ui icon inverted transparent input m-margin-tb-tiny">
                    <input type="text" placeholder="Search....">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--中间内容-->
<div class="m-container-small m-padded-tb-big" style="min-height: 85%">
    <div class="ui container">
        <!--header-->
        <div class="ui top attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui teal header">搜索关键字"<span th:text="${searchKey}" style="color: red"></span>"结果</h3>
                </div>
                <div class="right aligned column">
                    共 <h2 class="ui orange header m-inline-block m-text-thin"
                          th:text="${page.totalElements}"> 14 </h2> 篇
                </div>
            </div>
        </div>


        <div class="ui top attached teal segment">
            <div class="ui padded vertical segment m-padded-tb-large"
                 th:each="blog : ${page.content}">
                <div class="ui middle aligned mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header"><a href="#" th:href="@{/blog/{id}(id=${blog.blogId})}"
                                                 target="_blank" class="m-black"
                                                 th:text="${blog.blogTitle}">你真的理解什么是财富自由吗?</a></h3>
                        <p class="m-text" th:text="|${blog.blogDesc}......|"></p>
                        <div class="ui grid">
                            <div class="eleven wide column">
                                <div class="ui mini horizontal link list">
                                    <div class="item">
                                        <img src="https://unsplash.it/100/100?image=1005"
                                             th:src="@{${blog.headPortrait}}" alt=""
                                             class="ui avatar image">
                                        <div class="content"><a href="#" class="header"
                                                                th:text="${blog.nickname}">计春磊</a>
                                        </div>
                                    </div>
                                    <div class="item" title="发布时间">
                                        <i class="calendar icon"></i><span
                                            th:text="${#dates.format(blog.createTime,'yyyy-MM-dd')}">2019-10-01</span>
                                    </div>
                                    <div class="item" title="浏览数">
                                        <i class="eye icon"></i> <span
                                            th:text="${blog.blogViews}">2342</span>
                                    </div>
                                    <a class="item" title="查看评论" target="_blank"
                                         th:href="@{/blog/{id}#comment-form(id=${blog.blogId})}">
                                        <i class="comment icon"></i><span
                                            th:text="${blog.blogComments}">50</span>
                                    </a>
                                    <a class="item" title="点赞"
                                         th:unless="${blog.flag}"
                                         th:onclick="|javascript:thumbsUp('${blog.blogId}',this)|">
                                        <i class="thumbs up outline icon"></i>
                                        <span th:text="${blog.blogLikes}">15</span>
                                    </a>
                                    <a class="item" title="取消点赞"
                                         th:if="${blog.flag}"
                                         th:onclick="|javascript:thumbsUp('${blog.blogId}',this)|">
                                        <i class="thumbs up teal icon"></i>
                                        <span th:text="${blog.blogLikes}">15</span>
                                    </a>
                                </div>
                            </div>
                            <div class="right aligned five wide column">
                                <a href="#" target="_blank" th:href="@{/types/{id}(id=${blog.typeId})}"
                                   class="ui teal basic label m-padded-tiny m-text-thin"
                                   th:text="${typeMap[__${blog.typeId}__]}">日志</a>
                            </div>
                        </div>
                    </div>

                    <div class="five wide column">
                        <a href="#" th:href="@{/blog/{id}(id=${blog.blogId})}" target="_blank">
                            <img src="https://unsplash.it/800/450?image=1005"
                                 th:src="@{${blog.firstPictureAddr}}" alt="" class="ui rounded image">
                        </a>
                    </div>

                </div>
            </div>
        </div>

        <!--分页组件-->
        <div class="ui attached center aligned segment">
            <div class="ui pagination stackable menu">
                <a class="item" th:classappend="${page.first} ? 'active teal'"
                   th:href="@{/search(pageNum=0,searchKey=${searchKey})}">
                    首页
                </a>
                <a class="item" th:unless="${page.first}"
                   th:href="@{/search(pageNum=${page.number-1},searchKey=${searchKey})}">
                    上一页
                </a>
                <a class="item">
                    第<h3 class="ui orange header m-inline-block m-text-thin"
                         th:text="${page.number+1}">8</h3>页
                </a>
                <a class="item" th:unless="${page.last}"
                   th:href="@{/search(pageNum=${page.number+1},searchKey=${searchKey})}">
                    下一页
                </a>
                <a class="item" th:classappend="${page.last} ? 'active teal'"
                   th:href="@{/search(pageNum=${page.totalPages-1},searchKey=${searchKey})}">
                    尾页
                </a>
                <a class="item">
                    共<h3 class="ui red header m-inline-block m-text-thin"
                         th:text="${page.totalPages}">8</h3>页
                </a>
                <a class="item">
                    共<h3 class="ui red header m-inline-block m-text-thin"
                         th:text="${page.totalElements}">8</h3>条
                </a>
                <form name="page" class="right item" action="#" th:action="@{/search}" method="get">
                    <div class="ui right labeled input">
                        <div class="ui basic label">Go</div>
                        <input type="hidden" name="searchKey" th:value="${searchKey}">
                        <input type="text" name="pageNum" placeholder="页码..."
                               style="width: 80px;">
                        <div class="ui basic label">页</div>
                        <button class="ui icon button"><i onclick="document.forms['page'].submit()"
                                                          class="right arrow icon"></i></button>
                    </div>
                </form>
            </div>
            <input type="hidden" id="first" th:value="${page.number}"/>
            <input type="hidden" id="last" th:value="${page.totalElements}"/>
        </div>
    </div>
</div>

<!--底部footer-->
<footer th:replace="_fragments :: footer"/>

<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<!--/*/</th:block>/*/-->

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

</script>
</body>
</html>